.team-member {
    & .member-image {
        position: relative;
    }

    & .member-social-profile {
        position: absolute;
        top: 80%;
        left: 0%;
        ul {
            list-style: none;

            li {
                display: inline;
                i {
                    width: 2.1rem;
                    height: 2.1rem;
                    line-height: 2.1rem;
                    font-size: 1.2rem;
                    background: #d3d3d3;
                    border-radius: 3.5rem;
                    text-align: center;
                    color: $primary-color;
                    visibility: hidden;
                    opacity: 0;
                    transition: .5s all ease-in-out;
                }
            }
        }
    }

    & .member-content {


        h4 {
            color: $primary-color;
            margin-bottom: 0rem;
            font-size: 1.4rem;
        }

        p {
            font-size: .88rem;
        }
    }
}

.member-image:hover .member-social-profile ul li i {
    opacity: 1;
    visibility: visible;

}

